<footer
  class="mt-24 sm:mt-32 px-6 py-16 bg-black text-white text-center text-sm font-light"
>
  <a href="https://lo-and-go.de/" target="_blank">
    <p class="text-center mb-2">Ausgestattet durch</p>
    <img src="/assets/herrenausstatter_logo.png" alt="Lo & Go der Herrenausstatter" class="mx-auto" width="200" />
  </a>
  <hr class="my-10 mx-auto max-w-lg text-zinc-800" />
  <p>
    <span class="font-bold">Visionary Concepts GmbH</span><br />
    Marienstr. 23<br />
    30171 Hannover
  </p>
  <p class="text-xs mt-6">
    <a href="/impressum">Impressum</a>
    &nbsp;|&nbsp;
    <a href="/datenschutz">Datenschutz</a>
  </p>
</footer>
