{{ define "main" }}
<main class="mx-auto max-w-xl">
  <section id="vcard" class="mt-20 sm:mt-28">
    <img
      src="assets/tim.jpg"
      alt="Tim Lösch"
      class="mx-auto w-64 h-64 sm:w-96 sm:h-96 rounded-full shadow-xl"
    />
    <div class="mt-8 sm:mt-12 text-center">
      <h1 class="text-4xl font-bold">Tim Lösch</h1>
      <p class="mt-2 text-gray-700">
        CEO & Founder<br />Visionary Concepts GmbH
      </p>
      <ul class="mt-4 flex flex-row gap-4 items-center justify-center">
        <li>
          <span class="sr-only">LinkedIn</span>
          <a
            href="https://www.linkedin.com/in/tim-l%C3%B6sch-323844326"
            target="_blank"
          >
            <img
              src="assets/linkedin_icon.png"
              alt="LinkedIn"
              class="w-5 h-5"
            />
          </a>
        </li>
        <li>
          <span class="sr-only">Instagram</span>
          <a href="https://www.instagram.com/tim.hotbox.x.x/" target="_blank">
            <img
              src="assets/instagram_icon.png"
              alt="Instagram"
              class="w-5 h-5"
            />
          </a>
        </li>
      </ul>
      <div class="mt-6">
        <button
          id="vcard-button"
          type="button"
          class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 cursor-pointer duration-200"
        >
          Visitenkarte speichern
        </button>
      </div>
    </div>
  </section>

  <section id="hotboxxx-story" class="mt-20 sm:mt-28">
    <div class="mx-4 sm:mx-0 overflow-hidden bg-zinc-100 shadow rounded-lg">
      <div class="px-6 py-8 sm:p-8">
        <img
          src="assets/hotboxxx.png"
          alt="Hotboxxx"
          class="mx-auto max-w-48"
        />
        <h2 class="mt-6 text-center text-3xl font-semibold">HOTBOXXX Story</h2>
        <video
          width="500"
          class="mx-auto mt-6"
          poster="assets/hotboxxx_story_poster.png"
        >
          <source src="assets/test.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>

  <section id="topics" class="mt-20 sm:mt-28">
    <h2 class="text-center text-3xl font-light">
      Unter dem Motto „Grow together“ freue ich mich auf einen Austausch mit
      Ihnen zu folgenden Themen...
    </h2>
    <ul class="flex flex-col gap-4 mt-10 max-w-xs mx-auto text-center">
      <li>
        <a class="block bg-sky-100 p-4 rounded-lg shadow uppercase" href="#contact-form">HOTBOXXX</a>
      </li>
      <li>
        <a class="block bg-blue-100 p-4 rounded-lg shadow uppercase" href="#contact-form">Container</a>
      </li>
      <li>
        <a class="block bg-indigo-100 p-4 rounded-lg shadow uppercase" href="#contact-form">Mobile Foodwände</a>
      </li>
      <li>
        <a class="block bg-violet-100 p-4 rounded-lg shadow uppercase" href="#contact-form">Gastrokonzepte</a>
      </li>
      <li>
        <a class="block bg-purple-100 p-4 rounded-lg shadow uppercase" href="#contact-form">Inklujob</a>
      </li>
      <li>
        <a class="block bg-fuchsia-100 p-4 rounded-lg shadow uppercase" href="#contact-form">Events</a>
      </li>
    </ul>
  </section>

  <section id="contact-form" class="mt-12 sm:mt-18 scroll-mt-16">
    <form action="https://api.web3forms.com/submit" method="POST" class="mx-4 p-4 bg-zinc-100 shadow rounded-lg">
      <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <label for="name" class="block text-sm/6 font-semibold text-gray-900">Dein Name</label>
          <div class="mt-2.5">
            <input type="text" name="first-name" id="first-name" autocomplete="given-name" required class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="company" class="block text-sm/6 font-semibold text-gray-900">Ggf. Unternehmen</label>
          <div class="mt-2.5">
            <input type="text" name="company" id="company" autocomplete="organization" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm/6 font-semibold text-gray-900">Email-Adresse</label>
          <div class="mt-2.5">
            <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="phone-number" class="block text-sm/6 font-semibold text-gray-900">Telefonnummer</label>
          <div class="mt-2.5">
            <input type="text" name="phone-number" id="phone-number" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600" placeholder="0123456789">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="topic" class="block text-sm/6 font-semibold text-gray-900">Zu welchem Thema möchtest du dich austauschen?</label>
          <div class="mt-2.5">
            <select name="topic" id="topic" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600">
              <option>Bitte auswählen...</option>
              <option>HOTBOXXX</option>
              <option>Container</option>
              <option>Mobile Foodwände</option>
              <option>Gastrokonzepte</option>
              <option>Inklujob</option>
              <option>Events</option>
            </select>
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="message" class="block text-sm/6 font-semibold text-gray-900">Deine Nachricht</label>
          <div class="mt-2.5">
            <textarea name="message" id="message" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600"></textarea>
          </div>
        </div>
        <div class="flex gap-x-4 sm:col-span-2">
          <input type="checkbox" id="accept-privacy" name="accept-privacy" required />
          <label class="text-sm/6 text-gray-600" id="switch-1-label">
            Ich bin mit der <a href="/datenschutz" class="font-semibold text-gray-600">Datenschutzerklärung</a> einverstanden.
          </label>
        </div>
      </div>
      <div class="mt-10">
        <button type="submit" class="block w-full rounded-md bg-black px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-zinc-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-900 duration-200 cursor-pointer">Let's talk</button>
      </div>
    </form>
  </section>
</main>
{{ end }}
