{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section bg-gray position-relative">
  <div class="container position-relative zindex-1">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img loading="lazy" class="img-fluid philosophy-bg-shape" src="{{ `images/backgrounds/about-page-bg.webp` | relURL }}" onerror="this.onerror=null;this.src='{{ `images/backgrounds/about-page-bg.png` | relURL }}'" alt="shape">
  <img loading="lazy" class="img-fluid about-bg-shape" src="{{ `images/backgrounds/about-us-3-bg.webp` | relURL }}" onerror="this.onerror=null;this.src='{{ `images/backgrounds/about-us-3-bg.png` | relURL }}'" alt="shape">
</section>


{{ "<!-- EVENTLOCATIONS -->" | safeHTML }}
<section id="eventlocations" class="section">
  <div class="container">
    <div class="mb-6">
      <span class="block mb-2 text-xl text-primary font-bold uppercase">Übersicht</span>
      <h2>{{ .Params.eventlocations.heading }}</h2>
      <p>{{ .Params.eventlocations.text | markdownify }}</p>
    </div>

  <div class="mt-12">
      <div class="row">
        <div class="col-12">
          <ul class="list-inline text-center mb-4 filter-controls">
            <li class="list-inline-item h5 p-2 font-secondary text-dark active uppercase" data-filter="all">{{ i18n "all"}}</li>
            {{ $categories := slice }}
            {{ range .Data.Pages }}
            {{ $categories = $categories | append .Params.details.categories }}
            {{ end }}
            {{ range ( $categories | uniq ) }}
            <li class="list-inline-item h5 p-2 font-secondary text-dark text-uppercase" data-filter="{{ . | urlize }}">{{ . | humanize }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="row filtr-container mx-auto">
        {{ range .Data.Pages }}
        {{ $categories_string := delimit .Params.details.categories "_" | urlize }}
        {{ $categories_string = replace $categories_string "_" "," }}
          <div class="col-lg-4 col-sm-6 filtr-item" data-category='{{ $categories_string }}'>
            <div class="project-item mb-5">
              <div class="position-relative mb-4 overflow-hidden">
                <img loading="lazy" src="{{.Params.details.image | absURL }}" alt="{{ .Title }}" class="img-fluid w-100 !h-[300px] object-cover">
                <a href="{{ .Permalink }}" class="hover-overlay flex items-center justify-center text-3xl !text-white font-bold">
                  Mehr Infos
                </a>
              </div>
              <div class="px-2">
                <span class="block text-primary">{{ .Params.details.city }}</span>
                <a class="text-2xl text-dark font-bold uppercase" href="{{ .Permalink }}" aria-label="project image full view">{{ .Params.details.name }}</a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
</section>
{{ "<!-- /EVENTLOCATIONS -->" | safeHTML }}


<section id="faq" class="pt-0 section">
  <div class="container">
      <span class="block mb-2 text-xl text-primary font-bold uppercase">FAQ</span>
      <h2>{{ .Params.faq.heading }}</h2>
      {{ if .Params.faq.text }}<p>{{ .Params.faq.text | markdownify }}</p>{{ end }}
      <div class="mt-8 flex flex-col gap-6">
        {{ range $index, $entry := .Params.faq.entries }}
          <details class="px-4 py-3 bg-gray-50 border rounded shadow-sm" {{ if eq $index 0 }}open{{ end }}>
            <summary class="text-lg text-black font-bold">
              <span class="ml-2">{{ $entry.question }}</span>
            </summary>
            <p class="mt-3 mb-0">{{ $entry.answer | markdownify }}</p>
          </details>
        {{ end }}
      </div>
    </div>
  </div>
</section>



{{ if .Params.steps.enable }}
{{ with .Params.steps }}
{{ "<!-- steps -->" | safeHTML }}
<section class="section bg-gray position-relative">
  <div class="container position-relative zindex-1">
    <div class="row">
      {{ $.Scratch.Set "counter" 0 }}
      {{ range $index, $element := .steps_items }}
      {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
      <div class="col-md-4 mb-4 mb-md-0">
        <h3><span class="text-primary block">{{if lt $index 9}}0{{end}}{{$.Scratch.Get `counter`}}.</span> {{ .title }}</h3>
        <p>{{ .content | markdownify }}</p>
        <ul class="list-styled style-circle">
          {{ range .bullet_point }}
          <li class="mb-3">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
    <div class="mt-6 text-center">
      <a href="{{ site.Params.navigation_button.link | absLangURL }}" class="btn btn-primary hover-ripple">Jetzt anfragen</a>
    </div>
  </div>
  <!-- background shapes -->
  <img loading="lazy" class="img-fluid philosophy-bg-shape" src="{{ `images/backgrounds/about-page-bg.webp` | relURL }}" onerror="this.onerror=null;this.src='{{ `images/backgrounds/about-page-bg.png` | relURL }}'" alt="shape">
  <img loading="lazy" class="img-fluid about-bg-shape" src="{{ `images/backgrounds/about-us-3-bg.webp` | relURL }}" onerror="this.onerror=null;this.src='{{ `images/backgrounds/about-us-3-bg.png` | relURL }}'" alt="shape">
</section>
{{ "<!-- /steps -->" | safeHTML }}
{{ end }}
{{ end }}

{{ end }}